## Make and index some data in Python

Creating vectors, and a dataframe, and some low key indexing

In [1]:
import numpy as np
import pandas as pd

In [6]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [10]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [11]:
teddy[1]

2

In [12]:
teddy[1] = 5000

In [13]:
teddy

[1, 5000, 8]

In [16]:
yarn = (1, 2, 3, 4)

TypeError: 'list' object is not callable

In [17]:
yarn[2] = 100

TypeError: 'tuple' object does not support item assignment

Can't reassign a value in a tuple!

In [25]:
waffle = [2.9, "a burrito", [0, 1, 15], False]

In [26]:
waffle

[2.9, 'a burrito', [0, 1, 15], False]

In [27]:
waffle[2]

[0, 1, 15]

In [28]:
type(waffle[0])

float

In [29]:
waffle[0] = "It's Tuesday"

In [30]:
waffle

["It's Tuesday", 'a burrito', [0, 1, 15], False]

In [31]:
cows = {'name': ["moo", "spots", "happy"], 'location': ["pasture", "prairie", "barn"]}

In [32]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prairie', 'barn']}

In [33]:
cows_df = pd.DataFrame(cows)

In [34]:
cows_df

    name location
0    moo  pasture
1  spots  prairie
2  happy     barn

In [49]:
cows_noname = [['moo', 'spots', 'happy'], ['pasture', 'prairie', 'barn']]

In [50]:
cows_df_noname = pd.DataFrame(cows_noname)

In [51]:
cows_df_noname

         0        1      2
0      moo    spots  happy
1  pasture  prairie   barn